{% extends 'base.html' %}

{% block body %}
{% if current_user.is_authenticated %}

<body class="bg-light d-flex justify-content-center align-items-center min-vh-100">

  <div class="bg-white border rounded p-4 shadow-sm">

    <div class="d-flex justify-content-between align-items-start mb-3">
      <h5 class="fw-bold mb-0">{{ current_user.name }} Application History</h5>
      <button onclick="history.back()" class="btn btn-outline-secondary btn-sm">back</button>
    </div>
    {% if applications %}

    <table class="table table-bordered text-center mb-2">
      <thead>
        <tr>
          <th>Drive No.</th>
          <th>Interview</th>
          <th>Job Title</th>
          <th>Results</th>
          <th>Remark</th>
        </tr>
      </thead>
      {% for app in applications %}
      <tbody>
        <tr>
          <td>{{ app.drive_id }}</td>
          <td>{{ app.description }}</td>
          <td>{{ app.drive.title }}</td>
          <td>{{ app.status }}</td>
          <td>{{ app.date.strftime('%d %b %Y, %I:%M %p') }}</td>
        </tr>
      </tbody>
      {% endfor %}
      {% else %}
    </table>
    <h1 class="m-3 fs-5 text-center"> No Data to Show </h1>
    {% endif%}
</body>

{% endif %}
{% endblock %}