{% extends 'base.html' %}

{% block body%}

<div class="centered-form">
  <h2 class="text-center">

    <form method="POST">
      <div class="mb-5">
        <label for="username" class="form-label">Username(email)</label>
        <input id="username" type="email" class="form-control" name="Username"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" autofocus required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" name="Password"
          required>
        <input type="checkbox" class="form-check-input" id="showPassword">
        <label class="form-check-label" for="showPassword">Show Password</label>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </h2>
</div>

{% endblock %}