{% extends 'base.html' %}

{% block body %}
<div class="mt-5">
  <h1 class="mt-2 mb-4 fw-bold text-center">Welcome to Hirable</h1>
  <div class="d-flex justify-content-center gap-4 mb-5">
    <a href="{{ url_for('admin.admin_login') }}" class="btn btn-outline-primary">Admin Login</a>
    <a href="{{ url_for('student.student_register') }}" class="btn btn-outline-primary">Student Registration</a>
    <a href="{{ url_for('student.student_login') }}" class="btn btn-outline-primary">Student Login</a>

    <br>

    <a href="{{ url_for('company.company_register') }}" class="btn btn-outline-primary">Company Registration</a>
    <a href="{{ url_for('company.company_login') }}" class="btn btn-outline-primary">Company Login</a>
  </div>

  <!-- <img src="{{ url_for('static', filename='images/parking.jpg') }}" alt="Parking Image" class="img-fluid shadow"> -->

  <footer class="text-center text-muted mt-5 mb-3">
    &copy;Tejashvi Yadav. All rights reserved.<br>
  </footer>
</div>
{% endblock %}